sentence-transformers==2.4.0
langchain
flask
pypdf
python-dotenv
pinecone[grpc]==5.4.2
pinecone-plugin-inference==0.0.0
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .